<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.1.8/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.1.8/jsoneditor.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Automatic Satellite Decoder</title>
</head>
<meta id="data" data='{{ data }}'>
<body>
    <h1>Configuration Editor</h1>
    <div id="jsoneditor" style="width: 100%px; height: 500px;"></div>
    <input type="button" value="Update" onclick="updateConfig();">
    <input type="button" value="Reload" onclick="getConfig();">

    <h1>Upcoming Passes</h1>
    <input type="number" name="pass count" id="pass_count" value="1">
    <input type="button" value="Get Upcoming Passes" onclick="getUpcomingPasses();">
    <div id="upcoming_passes">

    </div>
</body>
</html>
